{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
{{ if compare.Eq .Title "Blog" }}
  {{ $allBlogs := .Pages.GroupByDate "2006" }}

  {{ range $allBlogs }}
    <h2>{{.Key}}</h2>

    {{ range .Pages }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            <b>{{.Date.Day}} {{.Date.Month }}</b>
        </li>
    {{end}}

  {{end}}
{{end}}

{{if compare.Eq .Title "Whiteboard" }}
	{{ range .Pages }}
  	<li>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
	    <i>epoch {{Unix .Date}}</b>
    </li>
	{{end}}
{{end}}
</ul>

{{ partial "footer.html" . }}
